<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <p>Alias:   </p>
    <p>{{certificate.alias}}</p>
    <br>
    <p>SubjectName:   </p>
    <p>{{certificate.subjectName}}</p>
    <br>
    <p>IssuerName:   </p>
    <p>{{certificate.issuerName}}</p>
    <br>
    <p>Type:   </p>
    <p>{{certificate.type}}</p>
    <br>
    <p>ParentAlias:   </p>
    <p>{{certificate.parentAlias}}</p>
    <br>
    <br>
    <br>

        <a href=".//../../../assets/cert.cer" target="_self"
         download=".//../../../assets/cert.cer">Download</a>


</div>
